@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: none;
  image-rendering: pixelated;
}
input,
select,
textarea {
  font-size: 16px !important;
}
